@{
	ViewData["Title"] = "About Sams Store";
}

<!-- ============== SECTION PAGETOP ============== -->
<section class="bg-primary py-5">
<div class="container">
	<h2 class="text-white">About</h2>
</div> <!-- container //  -->
</section>
<!-- ============== SECTION PAGETOP END// ============== -->

<!-- ============== SECTION CONTENT ============== -->
<section class="padding-y">
<div class="container">

<header class="section-heading">
	<h2 class="section-title">Learn about Brands</h2>
</header> 

<p>
	Established in Skyrim since November 11th, 2011. Known for our reasonable prices, having the best quality, prioritizing customer satisfaction.
</p>

<a href="javascript: history.back()" class="btn btn-light"> &laquo; Go back</a>

</div> <!-- container .//  -->
</section>
<!-- ============== SECTION CONTENT END// ============== -->
