@{
    ViewData["Title"] = "Home Page";
}

<!-- ================ SECTION INTRO ================ -->
<section class="section-intro bg-primary padding-y-lg">
    <div class="container">

        <article class="my-5">
            <h1 class="display-4 text-white"> Sams General Store  </h1>
            <p class="lead text-white">Anything a fellow traveler may need</p>
        </article>

    </div> <!-- container end.// -->
</section>
<!-- ================ SECTION INTRO END.// ================ -->

<!-- ================ SECTION PRODUCTS ================ -->
@section Slider{
<!-- slider section -->
<section class="slider_section ">
    <div class="slider_bg_box">
        <img src="" alt="">
    </div>
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    <span>
                                        Sams
                                    </span>
                                    <br>
                                    Store
                                </h1>
                                <p>
                                    A shop for all adventurers, including ones who took an arrow to the knee..
                                </p>
                                <div class="btn-box">
                                    <a href="@Url.Action("Index", "Products")" class="btn1">
                                        Shop Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>
<!-- end slider section -->
}
<!-- ================ SECTION PRODUCTS END.// ================ -->

<!-- ================ SECTION FEATURE ================ -->
<section class="bg-light padding-y">
    <div class="container">

        <header class="section-heading mt-2 mb-5">
            <h3 class="section-title">Why choose Sams</h3>
        </header>

        <div class="row mb-4">
            <div class="col-lg-4 col-md-6">
                <figure class="itemside align-items-center mb-4">
                    <div class="aside">
                        <span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
                            <i class="fa fa-money-bill"></i>
                        </span>
                    </div>
                    <figcaption class="info">
                        <h6 class="title">Reasonable prices</h6>
                        <p>@*Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor*@ </p>
                    </figcaption>
                </figure> <!-- itemside // -->
            </div><!-- col // -->
            <div class="col-lg-4 col-md-6">
                <figure class="itemside align-items-center  mb-4">
                    <div class="aside">
                        <span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
                            <i class="fa fa-star"></i>
                        </span>
                    </div>
                    <figcaption class="info">
                        <h6 class="title">Best quality</h6>
                        <p>@*Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor *@</p>
                    </figcaption>
                </figure> <!-- itemside // -->
            </div>
            <div class="col-lg-4 col-md-6">
                <figure class="itemside align-items-center  mb-4">
                    <div class="aside">
                        <span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
                            <i class="fa fa-users"></i>
                        </span>
                    </div>
                    <figcaption class="info">
                        <h6 class="title">Customer satisfaction</h6>
                        <p>@*Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor *@</p>
                    </figcaption>
                </figure> <!-- itemside // -->
            </div><!-- col // -->
        </div>
    </div> <!-- container end.// -->
</section>
<!-- ================ SECTION FEATURE END.// ================ -->
